---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import CustomTattoo from '../components/CustomTattoo.astro';
import UseCases from '../components/UseCases.astro';
import Gallery from '../components/Gallery.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <HowItWorks />
    <CustomTattoo />
    <UseCases />
    <Gallery />
    <FAQ />
  </main>
  <Footer />
</Layout>
